@{
    ViewData["Title"] = "Pagina de inicio";
}
<!-- Full Page Intro -->
<div class="img-principal">
    <div class="d-flex justify-content-end h-100 align-items-center">
        <!-- Content -->
        <div class="container col-md-12 overflow-hidden">
            <div class="row justify-content-center px-0">
                <div class="col-md-12 white-text text-center px-0">
                    <div class="wow fadeInRight w-100 text-right px-0" data-wow-delay="0.3s">
                        <img class="col-md-6 px-0 img-greenbox" src="~/img/img-green-box.png" alt="Alternate Text" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Full Page Intro -->
<!--Section: about-->
<section id="about" class="py-5">
    <div class="container col-md-12 h-100 py-5">
        <div class="row">
            <div class="col-lg-5 px-0">
                <img class="col-md-12 m-0 px-0" src="~/img/img-about-desc.png" alt="Sample image">
            </div>
            <div class="col-lg-7">
                @*<div class="row mb-3 h5">*@
                <div class="d-flex align-items-center h-100 pl-4">
                    <div style="height:max-content">
                        <p class="txt-blue-box col-md-12">
                            En <span class="txt-green-box">Strong Pack</span> tenemos 15 años de experiencia en la fabricación de
                            <br />productos para <span class="txt-green-box">empaque y embalaje</span> y hoy nos ponemos en contacto
                            <br />contigo porque estamos seguros que gracias a nuestra innovación,
                            <br />experiencia y a la alta calidad de nuestros productos, nos posiciona
                            <br />como <span class="txt-green-box">la mejor opción</span> para satisfacer la necesidad de empaques en
                            <br />todas las industrias.
                        </p>
                        <br />
                        <p class="txt-blue-box col-md-12">
                            Contamos con entregas anticipadas y <span class="txt-green-box">el mejor servicio a cliente</span>.
                        </p>
                        <br />
                        <p class="txt-blue-box col-md-12">
                            Queremos conocerte y presentarte nuestros productos y la calidad
                            <br />con la que trabajamos. Podemos agendar una reunión vía zoom o
                            <br />presencial en los próximos días, <span>¡será un placer para nosotros!</span>
                        </p>
                    </div>
                </div>
                @*</div>*@

            </div>
        </div>
    </div>
</section>
<!--Section: about-->